---
layout: default
---

%section
  %img.logo{:src => "/img/escudo.png"}

  %h4 Universidad de las Américas Puebla
  %br/
  %h3 Models and algorithms for Image and Video Compression 
  %h4 Doctoral Thesis Defense
  %h5 Juan C. Galan Hernández
  %h5 Supervisor: Dr. Vicente Alarcón Aquino
  %br/
  %h5 December 9, 2014

  %aside.notes
    Some notes

%section
  %h4 Outline
  %ol
    %li Introduction
    %li Review of Compression Algorithms
    %li 
      Proposed Fovea Hierarchical Trees Model
      %ol
        %li Proposed Approach
        %li Results
        %li Summary
    %li 
      Proposed Adaptive Fovea Set Partitioned Embedded Coder Model
      %ol
        %li Proposed Approach
        %li Results
        %li Summary
    %li Conclusions and Future Work

%section
  %h3 1. Introduction

%section.centered
  Data compression
