---
layout: default
---

%section
  %img.logo{:src => "/img/escudo.png", :style => "height: 160px"}
  %h4.college Universidad de las Américas Puebla
  %div{:style => "height: 100px;"}
  %h3 Models and algorithms for Image and Video Compression 
  %br/
  %h5 Doctoral Thesis Defense
  %br/
  %h4 Juan C. Galan Hernández
  %h5 Supervisor: Dr. Vicente Alarcón Aquino
  %div{:style => "height: 100px;"}
  %h6 December 9, 2014

  %aside.notes
    Some notes

%section
  %h4 Outline
  %ol
    %li Introduction
    %li Review of Compression Algorithms
    %li 
      Proposed Model: Fovea Hierarchical Trees
      %ol
        %li Proposed Approach
        %li Results
        %li Summary
    %li 
      Proposed Models: SP-Codec/AFV-Codec
      %ol
        %li Proposed Approach
        %li Results
        %li Summary
    %li Conclusions and Future Work

%section
  %h3 1. Introduction

%section
  %h4 Compression 
  %br/
  %ul 
    %li Data Stream: Sequence of digitally encoded signals. 
    %li Compression: Create a smaller representation of a given data stream reffered as compressed data stream.
    %li Decompression: Recover the original data stream using the compressed data stream.

%section
  %h4 Usage
  %br/
  %ul
    %li Reduces storage space
    %li Improves communications speed and network usage
    %li Impacts on all kind of communication: Wired, wireless, satellite

%section
  %h4 Challenges of compression
  %br/
  %ul
    %li Find a pattern inside the data that allows to compress the data stream
    %li Select data to be discarded withouth affecting the quality of the reconstructed data stream

%section
  %h4 Contributions
  %br/
  %ul
    %li Proposed image compression method: Fovea Hierarchical Trees
    %ul
      %li Increase the compression ratio over classic methods
      %li Improves image quality over classic methods
      %li Based on Wavelet compression and fovea compression
    %li Proposed video compression methods: SP-Codec and AFV-Codec
    %ul
      %li Based on Wavelet compression and fovea compression
      %li Both methods increase the compression ratio over classic methods
      %li Improve frame quality over classic methods

%section
  %h4 Publications
  %br/
  %ol
    %li.publications J.C. Galan-Hernandez, V. Alarcon-Aquino, O. Starostenko and J.M. Ramirez-Cortes, Wavelet-Based Foveated Compression Algorithm for Real-Time Video Processing, CERMA 2010, September, 2010.
    %li.publications J.C. Galan-Hernandez, V. Alarcon-Aquino, O. Starostenko and J.M. Ramirez-Cortes, DWT Foveation-Based Multi Resolution Compression Algorithm, Resarch in Computing Science, Octoberj, 2010.
    %li.publications J.C. Galan-Hernandez, V. Alarcon-Aquino, O. Starostenko and J.M. Ramirez-Cortes, SPIHT Based Foveated Multi resolution Compression, MCPR2011, June, 2011.
    %li.publications J.C. Galan-Hernandez, V. Alarcon-Aquino, O. Starostenko and J.M. Ramirez-Cortes, Fovea Window for Wavelet-based Compression, Innovations and Advances in Computer, Information, System Sciences, and Engeneering, 2013.
    %li.publications J.C. Galan-Hernandez, V. Alarcon-Aquino, O. Starostenko and J.M. Ramirez-Cortes, Region-of-Interest Coding based on Fovea and Hierarchical Trees, Informatiom Tecnology and Control, September, 2013.
    %li.publications J.C. Galan-Hernandez, V. Alarcon-Aquino, O. Starostenko and J.M. Ramirez-Cortes, Foveated Wavelet Based Intra Frame and Inter frame Encoding, To be submitted.

%section
  %h3 2. Review of Compression Algorithms

%section
  %h4 Types of compression
  %br/
  %ul
    %li Lossless compression: The original data stream is fully recovered
    %li Losy compression: The original data stream cannot be recovered. However, a new data stream is created that closely resembles the original.

%section
  %h4 Lossless compression
  %br/
  %ul
    %li Exploits patterns on the data stream
    %li Each pattern found is expressed with a symbol (Dictionary) or a magnitude (Statistical, Arithmetic)
    %li It has a lower limit, lossless compression cannot go beyond certain ratio.

%section
  %h4 Classic lossy compression algorithms
  %br/
  %ul
    %li Sound: FLAC  (Statistical)
    %li Image: PNG (Dictionary)
    %li Video: VP9

%section
  %h4 Lossy compression
  %br/
  %ul
    %li Requires a mathematical transform that takes the data form the spatial domain to another one like frequency domain or wavelet domain.
    %li The search for patterns are done on the transform domain.
    %li Data is drop on the transform domain by truncating the coefficients (quantization).

%section
  %h4 Classic lossy compression algorithms
  %br/
  %ul
    %li Sound: MP3  (DCT)
    %li Image: JPEG (DCT)
    %li Video: H.264 (iDCT)

%section
  %h3 Proposed Model: Fovea Hierarchical Trees

%section
  %h4 Lossy image compression
  %br/
  %ul
    %li Most common transform is the Discrete Cosine Transform (DCT)
    %li The image is split on squares of 8x8 pixels. 
    %li The transform is applied to each square and the coefficient matrix is multiplied by a quantization matrix.
    %li The quantized coefficients are sorted and compressed using huffman encoding.

%section
  %h4 Wavelet Transform
  .image 
    %img.logo{:src => "/img/wavelet_transform-lichtenstein.png", :style => "height: 460px"}
  %ol
    %li Compact Support
    %li Good reconstruction quality

%section
  %h4 Compression using wavelets
  .image 
    %img.logo{:src => "/img/quadtree.jpg", :style => "height: 460px"}

%section
  %h4 Fovea Compression
  %br/
  %ul
    %li Exploits the structure of the human eye.
    %li The human eye percieve less detail from areas further away from the fixation point 
    %li The sensibility to details decreases logarithmically
  .image 
    %img.logo{:src => "/img/eye_struct.png", :style => "height: 360px"}

%section
  %h4 Fovea Hierarchical Trees

%section
  %h4 Fovea Window
  %ul
    %li Proposed fovea window
  .image 
    %img.logo{:src => "/img/propfovea.png", :style => "height: 312px"}
    %img.logo{:src => "/img/powerlaw1.png", :style => "height: 262px"}
  :plain
    $$w^l(n_{x,y}) =
      \begin{cases}
          L, & \text{if } 0 \leq n < \alpha \\
        d\left(\frac{n^l_{x,y}-\alpha^l}{1-\alpha^l}\right)(L-b)+b,&
          \text{if } \alpha \leq n \leq 1\\
          b,& \text{otherwise.}
      \end{cases} $$

%section
  %h4 FVHT
  %br/
  %ul
    %li Based on SPIHT
    %li Wavelet/Fovea based method 
    %li SPIHT reaches optimal compression

%section
  %h5 Sorting Algorithm
  %br/
  .image 
    %img.logo{:src => "/img/fvhtex.png", :style => "height: 300px"} 
  %ul
    %li Sorting from the highest level to the lowest
    %li From the center of the fovea to the outside
    %li From the most significant bit plane to the less significant bit plane
    %li All zero trees are encoded as one zero

%section
  %h4 Results
  .image 
    %div{:style => "width:450px; padding-top:100px; position:absolute"}
      %img.logo{:src => "/img/spihtcamerarecon.png", :style => "height: 330px"} 
      %p SPIHT 1bpp
    %div{:style => "width:450px; padding-left:400px; padding-top:100px"}
      %img.logo{:src => "/img/fvhtcamrecon.png", :style => "height: 330px"} 
      %p FVHT 0.06-1bpp

%section
  %h4 Results
  .image 
    %div{:style => "width:450px; padding-top:100px; position:absolute"}
      %img.logo{:src => "/img/psnrplain.png", :style => "height: 330px"} 
      %p SPIHT 1bpp
    %div{:style => "width:450px; padding-left:400px; padding-top:100px"}
      %img.logo{:src => "/img/psnrmosaic2.png", :style => "height: 330px"} 
      %p FVHT 0.06-1bpp

%section
  %h4 Summary
  %br/
  %ul
    %li The algorithm shows good performance on image reconstruction
    %li The results obtained showed an increasing on visual quality of up to 60 psnr
    %li The algorithm is dependent of a good choice of the focal point
    %li The computational complexity of the algorithm is O(n)
    %li The memory usage complexity is also O(n)

%section
  %h4 4. Proposed method: SP-CODEC / AFV-CODEC

%section
  %h4 Video Compression
  %br/
  .image 
    %img.logo{:src => "/img/classic_framework.jpg", :style => "height: 300px"} 

%section
  %h4 Video Compression
  %br/
  %ul
    %li Spatial Transform
    %li Variable Lenght Encoder
    %li Decompression
    %li Motion Estimation
    %li Motion Compensation

%section
  %h4 Adaptive Binary Arithmetic Coding
  %ul
    %li Arithmetic coding using integers
    %li Creates a model on the fly
    %li Used on H.264 (CABAC)

%section
  %h4 SP-CODEC 
  %br/
  .image 
    %img.logo{:src => "/img/proposedspeck.png", :style => "height: 300px"} 

%section
  %h4 SPECK
  %br/
  %ul
    %li Wavelet Based Compression Method
    %li Easier to implement, less resources needed
    %li Results with lower quality than SPIHT

%section
  %h4 AFV-CODEC 
  %br/
  .image 
    %img.logo{:src => "/img/proposedafvspeck.png", :style => "height: 300px"} 

%section
  %h4 AWFV-SPECK
  %ul
    %li Based on SP-CODEC 
    %li Proposed compression for spatial fransform AWFV-SECK
    %li Sorts coefficients using fovea
    %li Results with higher quality than SP-CODEC inside the fovea
  
%section
  %h5 Sorting Algorithm
  %br/
  .image 
    %img.logo{:src => "/img/fvhtex.png", :style => "height: 300px"} 
  %ul
    %li Sorting from the highest level to the lowest
    %li From the center of the fovea to the outside
    %li From the most significant bit plane to the less significant bit plane
    %li All zero trees are encoded as one zero

%section
  %h4 Results
  .image 
    %div{:style => "width:450px; padding-top:100px; position:absolute"}
      %img.logo{:src => "/img/0.png", :style => "height: 330px"} 
      %p  Original Frame
    %div{:style => "width:450px; padding-left:400px; padding-top:100px"}
      %img.logo{:src => "/img/0_h264.png", :style => "height: 330px"} 
      %p H.264 Compression (1bpp) 

%section
  %h4 Results
  .image 
    %div{:style => "width:450px; padding-top:100px; position:absolute"}
      %img.logo{:src => "/img/0_h264.png", :style => "height: 330px"} 
      %p H.264 Compression
    %div{:style => "width:450px; padding-left:400px; padding-top:100px"}
      %img.logo{:src => "/img/0_speck.png", :style => "height: 330px"} 
      %p SP-Codec Compression (1bpp)

%section
  %h4 Results
  .image 
    %div{:style => "width:450px; padding-top:100px; position:absolute"}
      %img.logo{:src => "/img/0_speck.png", :style => "height: 330px"} 
      %p SP-Codec Compression (1bpp)
    %div{:style => "width:450px; padding-left:400px; padding-top:100px"}
      %img.logo{:src => "/img/21006.png", :style => "height: 330px"} 
      %p AFV-Codec Compression (0.06 - 1 bpp)

%section
  %h4 Results
  .image 
    %div{:style => "width:450px; padding-top:100px; position:absolute"}
      %img.logo{:src => "/img/foveacomp.png", :style => "height: 330px"} 
      %p SP-Codec Compression (1bpp)
    %div{:style => "width:450px; padding-left:400px; padding-top:100px"}
      %img.logo{:src => "/img/error_mse_comp.png", :style => "height: 330px"} 
      %p AFV-Codec Compression (0.06 - 1 bpp)

%section
  %h4 Summary
  %br/
  %ul
    %li Both codecs implement a wavelet based spatial transform
    %li The quality of the reconstruction of single frames increases the quality of the reconstructed video overall when such frames are key frames.  
    %li The use of fovea further increases the quality on selected areas of key frames
    %li The use of fovea will yield on a perfect reconstruction when the fixation point and the fovea cover the area where the motion is located

%section 
  %h4 5. Conclusions
  %br/
  %ul
    %li Two wavelet based image compression models are proposed: FVHT and AWFV-SPECK
    %li Both algorithms exploits the fovea aliasing for increasing image quality
    %li The proposed algorithms show better reconstruction quality that classic methods
    %li Two video compression models are proposed: SP-Coded and AFV-Codec
    %li Both proposed models show better quality reconstruction than classic models (H.264)

%section 
  %h4 Future Work 
  %br/
  %ul
    %li The proposed models will be optimized for speed and memory usage
    %li It will be investigated methods for inplace quantization using wavelets
    %li Other variable length encoders will be tested
    %li New metrics will be investigated
