@import compass/css3

$font: 'Roboto'

.display_4
  font: 'Roboto'
  font-size: 112px
  +opacity(0.54)

.display_3
  font: 'Roboto'
  font-size: 56px
  +opacity(0.54)

.display_2
  font: 'Roboto'
  font-size: 45px
  +opacity(0.54)

.display_1
  font: 'Roboto'
  font-size: 34px
  +opacity(0.54)

.headline
  font: 'Roboto'
  font-size: 24px
  +opacity(0.87)
